.banner-top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: unset;
  border-radius: 12px;
  width: 100%;
  height: 170px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
