@import 'src/styles/abstracts/mixins';
@import 'src/styles/abstracts/variables';

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
  color: map-get($colors, "DeepGreen");
  border: none;
  letter-spacing: 0.05em;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  border-radius: 15px;
  border-bottom: 4px solid map-get($colors, "Green");
  background-color: map-get($colors, "CrazyGreen");
  box-shadow: -2px 4px 12px 0px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0;
  width: 70px;
  height: 50px;
  transition: transform 0.3s ease, background-color 0.3s ease;

  @include md(xs) {
    width: 100px;
  }

  @include md(sm) {
    width: 150px;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    background-color: map-get($colors, "LightGreen");
    outline: none;
    border-bottom: 4px solid map-get($colors, "DeepGreen");
  }

  &:active {
    transform: scale(0.95);
  }

  &:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 3%;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
    z-index: 1;
    filter: blur(1.5px);
  }

  &:after {
    content: "";
    position: absolute;
    top: 19%;
    left: 1%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255,1) 0%, rgba(255, 255, 255, 0) 80%);
    z-index: 1;
    filter: blur(2px);
  }
}
