@import 'src/styles/abstracts/mixins';

.banner-bottom {
  padding: 0 30px 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include md(xs) {
    padding: 0 30px 0 15px;
  }

  app-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
