<div class="banner-bottom">
  <div class="banner-bottom__available">
    Available {{ bundle.available }}/{{ bundle.maxAvailable }}
  </div>
  <app-button [label]="bundle.price.currencySymbol + bundle.price.amount"
              (onClick)="buyBundle()">
  </app-button>
  <div class="banner-bottom__timer">{{ bundle.timeLeftMs | countdown }}</div>
</div>
