<div class="artifact">
  <img class="artifact__img"
       [src]="product.productImage"
       alt="artifact" />
  <p class="artifact__label"
     [style.color]="product.productTextColor">{{ product.amount }}</p>
</div>
