.artifact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 80px;
  }

  &__label {
    font-size: 26px;
    -webkit-text-stroke: 2px #3c0202;
  }
}
