@import 'src/styles/abstracts/functions';


$primary: ("AntiqueWhite": antiquewhite);
$secondary: ("CrazyGreen": #71B941, "Green": #447B26, "DeepGreen": #1b3401, "LightPink": #fcf);
$neutral: ("EarthGrey": #63666A, "Selago": #F5F4F5, "White": #FFFFFF);

$colors: map-collect($primary, $secondary, $neutral);

$media: (
  xs: 460px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
  3xl: 1920px,
);
