@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import 'src/styles/abstracts/mixins';
@import 'src/styles/abstracts/variables';
@import 'src/styles/abstracts/functions';

* {
  font-family: 'Passion One', cursive;
  font-size: 16px;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  color: map-get($colors, "White");;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

  @include md(xs) {
    font-size: 19px;
  }

  @include md(sm) {
    font-size: 20px;
  }
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

p {
	margin-block-start: unset;
	margin-block-end: unset;
}
