@import 'src/styles/abstracts/variables';

.app {
	width: 100%;
	height: 100%;
	padding: 20px;
	background-color: map-get($colors, "AntiqueWhite");

  app-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
