@import 'src/styles/abstracts/variables';

.banner {
  width: 100%;
  max-width: 520px;
  border-radius: 12px;
  box-shadow: 0px 7px 0px 0px rgba(121, 76, 17, 1);
  background: linear-gradient(
      159deg,
      rgb(204, 107, 4) 0%,
      rgb(255 241 147) 53%,
      rgb(224, 163, 42) 76%);
  padding: 10px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: map-get($colors, "White");
  position: relative;

  app-top-banner, app-bottom-banner {
    width: 100%;
  }
}


