<ng-container *ngIf="bundle$ | async as bundle; else loading">
  <div class="banner">
    <app-top-banner [bundle]="bundle"></app-top-banner>
    <app-bottom-banner [bundle]="bundle"></app-bottom-banner>
  </div>
</ng-container>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
